.mw-home {
	height: auto;
	#tile-book-travel {
		background: $color_blue1;
	}
	
	#tile-flight-status {
		background: $color_blue2;
	}
	
	#tile-checkin {
		background: $color_blue4;
	}
	
	#tile-mytrips {
		background: $color_gray4;
	}
}
