.mw-header {
  background-color: $color-blue2;
  padding: $spacing-box;
  display: flex;
  justify-content:  space-between;
  .mw-icon-menu {
    @include sprites-menuHamburger;
  }
  .mw-logo {
    img {
      max-height: 35px;
      padding: 7px;
    }
  }
  .mw-icon-menu:after {
    content: "Menu";
    padding-top: 25px;
    display: block;
    font-size: 10px;
    color: $color-white;
  }
  .mw-profile-icon {
    margin: 0 auto 5px;
    @include sprites-menuLogin;
  }
  .mw-profile-name {
    color: $color-white;
    font-size: 10px;
  }
}

